<div class="menu-bar">
    <i class="fas fa-angle-double-right"></i>

    <div class="menu-bar-top">
        <div id="admin-id" style="display: none;"></div>
        <div class="image">
            <img src="" alt="" id="avatar-admin">
        </div>
        <div class="name" id="name-admin"></div>
        <div class="role">
            <i class="fas fa-wrench"></i>
            <p class="role-name" id="role-name-admin"></p>
        </div>

        <i class="fas fa-angle-double-left"></i>
    </div>

    <div class="menu-bar-bottom">
        <ul>
            <li id="home-page">
                <i class="fas fa-home"></i>
                Trang chủ
            </li>
            <li id="management-category">
                <i class="fas fa-window-restore"></i>
                Quản lý thể loại
            </li>
            <li id="management-movie">
                <i class="fas fa-film"></i>
                Quản lý phim
            </li>
            <li id="management-cinema">
                <i class="fab fa-buromobelexperte"></i>
                Quản lý rạp
            </li>
            <li id="management-schedule">
                <i class="fas fa-calendar-alt"></i>
                Quản lý lịch chiếu
            </li>
            <li id="management-account">
                <i class="fas fa-user"></i>
                Quản lý khách hàng
            </li>
            <li id="management-bill">
                <i class="fas fa-file-invoice"></i>
                Quản lý đơn hàng
            </li>
            <li id="management-promotion">
                <i class="fas fa-percent"></i>
                Quản lý khuyến mãi
            </li>
            <li>
                <i class="fas fa-shopping-basket"></i>
                Quản lý shop
            </li>
            <!-- <li>
                <i class="fas fa-money-bill"></i>
                BILLS
            </li> -->
            <!-- <li id="management-staff">
                <i class="fas fa-user-tie"></i>
                STAFF
            </li> -->
        </ul>
        <div class="logout">
            <i class="fas fa-sign-out-alt"></i>
            Đăng xuất
        </div>
    </div>
</div>