<div class="name-room-layout"
    style="text-align: center; font-size: 25px; color: aqua; font-weight: 500; padding: 10px;">
    PHÒNG CHIẾU 301
</div>
<div class="selected-seats">
    <div class="overlay"></div>
    <div class="select-seat-room-container">
        <div class="screen"></div>
        <div class="select-seats-container">

        </div>

        <div class="btn-seat">
            <button class="reset-layout"><i class="fas fa-sync-alt"></i></button>
            <button class="update-seat">Sửa</button>
            <button class="save-seat">Lưu</button>
            <button class="save-layout">Lưu</button>
            <div class="modal-update-status">
                <div class="modal-title">Cập nhật trạng thái ghế</div>
                <ul>
                    <li data-value="vip" class="seat-status seat-vip">VIP</li>
                    <li data-value="normal" class="seat-status seat-normal">NORMAL</li>
                    <li data-value="hidden" class="seat-status seat-hidden">HIDDEN</li>
                </ul>
            </div>
        </div>
    </div>

</div>
</div>