<div class="review-section">
    <div class="review-summary">
        <div class="rating-overview">
            <div class="rating-score">
                <span class="score"></span>
            </div>
            <div class="count">
                <span class="rating-count"><i class="far fa-star"></i> <span id="rating-count"></span></span>
                <span class="comment-count"><i class="fas fa-comment"></i> <span id="comment-count"></span></span>
            </div>
        </div>
        <div class="review-breakdown">
            <div class="rating-breakdown">
                <div class="rating-bar">
                    <div class="bar">&#9733&#9733&#9733&#9733&#9733</div>
                    <span><span class="rating-label-five-star"></span> đánh giá</span>
                </div>
                <div class="rating-bar">
                    <div class="bar">&#9733&#9733&#9733&#9733&#9734</div>
                    <span><span class="rating-label-four-star"></span> đánh giá</span>
                </div>
                <div class="rating-bar">
                    <div class="bar">&#9733&#9733&#9733&#9734&#9734</div>
                    <span><span class="rating-label-three-star"></span> đánh giá</span>
                </div>
                <div class="rating-bar">
                    <div class="bar">&#9733&#9733&#9734&#9734&#9734</div>
                    <span><span class="rating-label-two-star"></span> đánh giá</span>
                </div>
                <div class="rating-bar">
                    <div class="bar">&#9733&#9734&#9734&#9734&#9734</div>
                    <span><span class="rating-label-one-star"></span> đánh giá</span>
                </div>
            </div>
        </div>
    </div>
    <!-- <hr class="line"> -->

    <div class="user-reviews">
        <h3>Nhận xét từ người dùng</h3>
        <div class="review-parent">
        </div>
        <button class="btn-paging-review"
            style="border: none; background-color: rgb(9, 73, 221); color: rgb(255, 255, 255); border-radius: 5px; font-size: 13px; padding:5px 10px;">Thêm</button>
    </div>

</div>