<header>
  <div class="header-container">
    <div class="header-start">
      <a href="/home">
        <div class="d-flex align-items-center">
          <img class="logo-header" src="/img/logo-cinema-1.png" alt="Logo">
        </div>
      </a>
    </div>
    <div class="header-center">
      <div class="dropdown-toggle" style="font-size: 25px;"></div>
      <div class="show-menu">
        <a href="" class="menu">
          <div style="display: inline-block; text-align: center;">
            <i class="fas fa-film"></i><br>
            Giới thiệu
          </div>
        </a>
        <a href="" id="cinema-list" class="menu">
          <div style="display: inline-block; text-align: center;">
            <i class="fas fa-project-diagram"></i><br>
            Cụm rạp
          </div>
        </a>
        <a href="" id="shop-me" class="menu">
          <div style="display: inline-block; text-align: center;">
            <i class="fas fa-store"></i><br>
            Shop
          </div>
        </a>
        <a href="" id="list-movie" class="menu">
          <div style="display: inline-block; text-align: center;">
            <i class="fas fa-video"></i><br>
            Phim
          </div>
        </a>
        <div class="box-search">
          <div class="box-search-container">
            <input type="text" id="search-movie-header" placeholder="Tìm kiếm phim...">
            <i class="fas fa-search"></i>
            <ul id="suggestions-list-header" class="suggestions-list"></ul>
          </div>
        </div>
      </div>
    </div>
    <div class="header-end">
      <a class="no-login" href="/login" style="display: flex; align-items: center;">
        <div class="avatar-placeholder">
          <span class="material-icons">person</span>
        </div>
        <span class="title-login">Đăng nhập</span>
      </a>

      <a class="yes-login" href="" style="display: flex; align-items: center;">
        <div class="avatar-placeholder">
        </div>
        <span class="yes-login-info">
          Tài khoản
        </span>
      </a>
    </div>

    <div class="header-menu-mobile">
      <ul class="menu-movie-list">
        <li id="movie-show-today"><a href="#movie-showing-now">Hôm nay</a></li>
        <li id="movie-top"><a href="#movie-trending">Top phim</a></li>
        <li id="movie-upcoming-show"><a href="#movie-showing">Sắp ra mắt</a></li>
        <li id="promotion"><a href="#promotion-show">Khuyến mãi</a></li>
      </ul>
    </div>

    <div class="header-mobile">
      <a href="" class="menu">
        <div style="display: inline-block; text-align: center;">
          <i class="fas fa-film"></i><br>
          Giới thiệu
        </div>
      </a>
      <a href="" id="cinema-list" class="menu">
        <div style="display: inline-block; text-align: center;">
          <i class="fas fa-project-diagram"></i><br>
          Cụm rạp
        </div>
      </a>
      <a href="" id="shop-me" class="menu">
        <div style="display: inline-block; text-align: center;">
          <i class="fas fa-store"></i><br>
          Shop
        </div>
      </a>
      <a href="" id="list-movie" class="menu">
        <div style="display: inline-block; text-align: center;">
          <i class="fas fa-video"></i><br>
          Phim
        </div>
      </a>
      <a class="no-login" href="/login" style="display: flex; align-items: center;">
        <div class="avatar-placeholder">
          <span class="material-icons">person</span>
        </div>
        <span class="title-login">Đăng nhập</span>
      </a>
      <a class="yes-login" href="" style="display: flex; align-items: center;">
        <i class="far fa-user-circle"></i>
        <span class="yes-login-info">
          Tài khoản
        </span>
      </a>
    </div>
  </div>
</header>