<div class="user-info-history">
    <table>
        <thead>
            <tr>
                <th>Mã hóa đơn</th>
                <th>Tên phim</th>
                <th class="history-date">Ngày xem</th>
                <th class="history-time">Giờ xem</th>
                <th>Tổng tiền</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="history-order">
        </tbody>
    </table>

    <div class="paging paging-movie">
        <a href="" class="paging-item previous">&laquo;</a>
        <div class="paging-number-movie">
        </div>
        <a href="" class="paging-item next">&raquo;</a>
    </div>
</div>