<div style="width: 100%; padding:30px 0;">
  <div class="box-info-schedule">
    <table class="schedule-table">
      <thead>
      <tr>
        <th>Tên Rạp</th>
        <th>Tên Phòng</th>
        <th>Giờ Chiếu</th>
        <th>Ngày Chiếu</th>
        <th></th> <!-- Cột cho nút mua vé -->
      </tr>
      </thead>
      <tbody>
      <!--      <tr>-->
      <!--        <td><a class="cinema-detail" href="">Rạp Cinestar</a></td>-->
      <!--        <td>Phòng 1</td>-->
      <!--        <td>18:00</td>-->
      <!--        <td>12/08/2024</td>-->
      <!--        <td><button class="btn-buy-ticket"><i class="fas fa-ticket-alt"></i> Mua Vé</button></td>-->
      <!--      </tr>-->
      <!--      <tr>-->
      <!--        <td><a class="cinema-detail" href="">Rạp Galaxy</a></td>-->
      <!--        <td>Phòng 2</td>-->
      <!--        <td>20:00</td>-->
      <!--        <td>12/08/2024</td>-->
      <!--        <td><button class="btn-buy-ticket"><i class="fas fa-ticket-alt"></i> Mua Vé</button></td>-->
      <!--      </tr>-->
      <!--      <tr>-->
      <!--        <td><a class="cinema-detail" href="">Rạp Galaxy</a></td>-->
      <!--        <td>Phòng 2</td>-->
      <!--        <td>20:00</td>-->
      <!--        <td>12/08/2024</td>-->
      <!--        <td><button class="btn-buy-ticket"><i class="fas fa-ticket-alt"></i> Mua Vé</button></td>-->
      <!--      </tr>-->
      <!-- Thêm các hàng khác ở đây -->
      </tbody>
    </table>
  </div>

</div>