<div class="user-info-regulations">
    <p class="regulations-title">Thể lệ</p>
    <p style="margin-bottom: 10px !important;">Chương trình khách hàng thành viên của PCV cinemas là
        chương
        trình ưu đãi dựa trên số tiền
        chi tiêu của
        các thành viên gồm <span style="font-weight: bold; color: rgb(222, 88, 4);">BASIC, SILVER,
            GOLD, PLATINUM,
            DIAMOND</span>. Với mỗi giao dịch tại hệ thống
        rạp PCV cinemas bạn
        nhận được tích lũy tiêu tương ứng. Hình thức tích lũy như sau:
    </p>
    <p>
        <img src="/img/basic-rank.png" alt="">
        <span>- BASIC (không có rank)</span>: Với mức chi tiêu dưới 2 triệu đồng.
    </p>
    <p>
        <img src="/img/silver-rank.png" alt="">
        <span>- SILVER (rank bạc)</span>: Với mức chi tiêu từ trên 2 triệu đồng đến triệu đồng.
    </p>
    <p>
        <img src="/img/gold-rank.png" alt="">
        <span>- GOLD (rank vàng)</span>: Với mức chi tiêu từ 4 triệu đồng đến 10 triệu đồng.
    </p>
    <p>
        <img src="/img/platinum-rank.png" alt="">
        <span>- PLATINUM (rank bạch kim)</span>: Với mức chi tiêu từ 10 triệu đồng đến 20 triệu.
    </p>
    <p>
        <img src="/img/diamond-rank.png" alt="">
        <span>- DIAMOND (rank kim cương)</span>: Với mức chi tiêu trên 20 triệu đồng.
    </p>
    <p class="regulations-title">Quyền lợi</p>
    <p>
        <img src="/img/basic-rank.png" alt="">
        <span>- BASIC</span>: Không có khuyến mãi.
    </p>
    <p>
        <img src="/img/silver-rank.png" alt="">
        <span>- SILVER</span>: Khuyễn mãi 5% cho tất cả hóa đơn tại PCV.
    </p>
    <p>
        <img src="/img/gold-rank.png" alt="">
        <span>- GOLD</span>: Khuyến mãi 8% cho tất cả hóa đơn tại PCV.
    </p>
    <p>
        <img src="/img/platinum-rank.png" alt="">
        <span>- PLATINUM</span>: Khuyễn mãi 15% cho tất cả hóa đơn tại PCV.
    </p>
    <p>
        <img src="/img/diamond-rank.png" alt="">
        <span>- DIAMOND</span>: Khuyễn mãi 30% cho tất cả hóa đơn tại PCV.
    </p>
    <p class="regulations-title">Lưu ý</p>
    <ul>
        <li>Email và số điện thoại là thông tin định danh thành viên bắt buộc phải hợp lệ.</li>
        <li>Email không hợp lệ được hiểu là email không có thực tại thời điểm PCV cinemas rà soát
            dữ liệu thành viên.</li>
        <li>Số điện thoại không hợp lệ được hiểu là số điện thoại không liên lạc được hoặc số điện
            thoại không thuộc sở hữu của chủ tài khoản thành viên tại thời điểm PCV cinemas rà
            soát dữ liệu thành viên.</li>
        <li>Trong các trường hợp không hợp lệ, PCV cinemas có quyền xóa tài khoản thành viên mà
            không cần thông báo trước.</li>
        <li>Tài khoản thành viên không có đủ thông tin định danh gồm email và số điện thoại hợp lệ,
            PCV cinemas có quyền xóa tài khoản thành viên mà không cần thông báo trước.</li>
        <li>Điểm tích lũy có giá trị áp dụng tại tất cả các rạp PCV cinemas trên toàn quốc.</li>
        <li>Điểm tích lũy có thời hạn sử dụng là vĩnh viễn.</li>
    </ul>
</div>