<div class="progress-wrapper">
    <div class="progress-step active">
        <div class="step-icon">1</div>
        <div class="step-title">Chọn phòng</div>
    </div>
    <div class="progress-step">
        <div class="step-icon">2</div>
        <div class="step-title">Chọn ghế</div>
    </div>
    <div class="progress-step">
        <div class="step-icon">3</div>
        <div class="step-title">Chọn đồ ăn</div>
    </div>
    <div class="progress-step">
        <div class="step-icon">4</div>
        <div class="step-title">Thanh toán</div>
    </div>

    <div class="progress-line">
        <hr>
    </div>
</div>