<div class="select-room">
    <div id="check-point" style="display: none;">0</div>
    <div class="room-container">
        <a href="" class="back-link">
            <i class="fas fa-angle-double-left"></i>
        </a>
        <h3 id="movie-title">Chọn Phòng</h3>
        <div class="movie-choosed">
            <p>Tên phim: <span class="movie-choosed-name"></span></p>
            <p>Ngày chiếu: <span class="movie-choosed-date"></span></p>
            <p>Giờ chiếu: <span class="movie-choosed-time"></span></p>
            <p>Tên rạp: <span class="movie-choosed-cinema"></span></p>
        </div>
        <div class="room-list">
        </div>
    </div>
</div>