<div class="selected-seats">
    <div id="check-point" style="display: none;">1</div>
    <div class="overlay"></div>
    <div class="select-seat-room-container">
        <a href="" class="back-link back-page-seat">
            <i class="fas fa-angle-double-left"></i>
            <span style="font-size: 13px; font-weight: bold;">QUAY LẠI</span>
        </a>
        <h3 class="room-title">Chọn ghế</h3>
        <div class="room-detail">
            <p>Phòng: <span class="room-detail-name"></span></p>
            <p>Ngày chiếu: <span class="room-detail-date"></span></p>
            <p>Giờ chiếu: <span class="room-detail-time"></span></p>
        </div>
        <div class="screen"></div>
        <div class="select-seats-container">
            <!--            &lt;!&ndash; Dãy ghế A &ndash;&gt;-->
            <!--            <div class="row">-->
            <!--                <div class="row-title">-->
            <!--                    <strong>Dãy</strong><span class="row-title-name-seat">A</span>-->
            <!--                </div>-->
            <!--                <div class="seat available" title="A1"><i class="fas fa-couch"></i></div>-->
            <!--                <div class="seat available" title="A2"><i class="fas fa-couch"></i></div>-->
            <!--                <div class="seat available" title="A3"><i class="fas fa-couch"></i></div>-->
            <!--                <div class="seat available" title="A4"><i class="fas fa-couch"></i></div>-->
            <!--                <div class="seat available" title="A5"><i class="fas fa-couch"></i></div>-->
            <!--                <div class="seat available" title="A6"><i class="fas fa-couch"></i></div>-->
            <!--                <div class="seat available" title="A7"><i class="fas fa-couch"></i></div>-->
            <!--                <div class="seat available" title="A8"><i class="fas fa-couch"></i></div>-->
            <!--                <div class="seat available" title="A9"><i class="fas fa-couch"></i></div>-->
            <!--                <div class="seat available" title="A10"><i class="fas fa-couch"></i></div>-->
            <!--            </div>-->
            <!--            &lt;!&ndash; Dãy ghế B &ndash;&gt;-->
            <!--            <div class="row">-->
            <!--                <div class="row-title">-->
            <!--                    <strong>Dãy</strong><span class="row-title-name-seat">B</span>-->

            <!--                </div>-->
            <!--                <div class="seat available" title="A1"><i class="fas fa-couch"></i></div>-->
            <!--                <div class="seat available" title="A2"><i class="fas fa-couch"></i></div>-->
            <!--                <div class="seat available" title="A3"><i class="fas fa-couch"></i></div>-->
            <!--                <div class="seat available" title="A4"><i class="fas fa-couch"></i></div>-->
            <!--                <div class="seat available" title="A5"><i class="fas fa-couch"></i></div>-->
            <!--                <div class="seat available" title="A6"><i class="fas fa-couch"></i></div>-->
            <!--                <div class="seat available" title="A7"><i class="fas fa-couch"></i></div>-->
            <!--                <div class="seat available" title="A8"><i class="fas fa-couch"></i></div>-->
            <!--                <div class="seat available" title="A9"><i class="fas fa-couch"></i></div>-->
            <!--                <div class="seat available" title="A10"><i class="fas fa-couch"></i></div>-->
            <!--            </div>-->
            <!--            &lt;!&ndash; Dãy ghế C &ndash;&gt;-->
            <!--            <div class="row">-->
            <!--                <div class="row-title">-->
            <!--                    <strong>Dãy</strong><span class="row-title-name-seat">C</span>-->

            <!--                </div>-->
            <!--                <div class="seat available" title="A1"><i class="fas fa-couch"></i></div>-->
            <!--                <div class="seat available" title="A2"><i class="fas fa-couch"></i></div>-->
            <!--                <div class="seat available" title="A3"><i class="fas fa-couch"></i></div>-->
            <!--                <div class="seat available" title="A4"><i class="fas fa-couch"></i></div>-->
            <!--                <div class="seat available" title="A5"><i class="fas fa-couch"></i></div>-->
            <!--                <div class="seat available" title="A6"><i class="fas fa-couch"></i></div>-->
            <!--                <div class="seat available" title="A7"><i class="fas fa-couch"></i></div>-->
            <!--                <div class="seat unavailable" title="A8"><i class="fas fa-couch"></i></div>-->
            <!--                <div class="seat available" title="A9"><i class="fas fa-couch"></i></div>-->
            <!--                <div class="seat available" title="A10"><i class="fas fa-couch"></i></div>-->
            <!--            </div>-->
            <!--            &lt;!&ndash; Dãy ghế D &ndash;&gt;-->
            <!--            <div class="row">-->
            <!--                <div class="row-title">-->
            <!--                    <strong>Dãy</strong><span class="row-title-name-seat">D</span>-->

            <!--                </div>-->
            <!--                <div class="seat available" title="A1"><i class="fas fa-couch"></i></div>-->
            <!--                <div class="seat available" title="A2"><i class="fas fa-couch"></i></div>-->
            <!--                <div class="seat available" title="A3"><i class="fas fa-couch"></i></div>-->
            <!--                <div class="seat available" title="A4"><i class="fas fa-couch"></i></div>-->
            <!--                <div class="seat vip" title="A5"><i class="fas fa-couch"></i></div>-->
            <!--                <div class="seat vip" title="A6"><i class="fas fa-couch"></i></div>-->
            <!--                <div class="seat vip" title="A7"><i class="fas fa-couch"></i></div>-->
            <!--                <div class="seat available" title="A8"><i class="fas fa-couch"></i></div>-->
            <!--                <div class="seat available" title="A9"><i class="fas fa-couch"></i></div>-->
            <!--                <div class="seat available" title="A10"><i class="fas fa-couch"></i></div>-->
            <!--            </div>-->
            <!--            &lt;!&ndash; Dãy ghế E &ndash;&gt;-->
            <!--            <div class="row">-->
            <!--                <div class="row-title">-->
            <!--                    <strong>Dãy</strong><span class="row-title-name-seat">E</span>-->
            <!--                </div>-->
            <!--                <div class="seat available" title="A1"><i class="fas fa-couch"></i></div>-->
            <!--                <div class="seat available" title="A2"><i class="fas fa-couch"></i></div>-->
            <!--                <div class="seat available" title="A3"><i class="fas fa-couch"></i></div>-->
            <!--                <div class="seat available" title="A4"><i class="fas fa-couch"></i></div>-->
            <!--                <div class="seat available" title="A5"><i class="fas fa-couch"></i></div>-->
            <!--                <div class="seat available" title="A6"><i class="fas fa-couch"></i></div>-->
            <!--                <div class="seat available" title="A7"><i class="fas fa-couch"></i></div>-->
            <!--                <div class="seat available" title="A8"><i class="fas fa-couch"></i></div>-->
            <!--                <div class="seat available" title="A9"><i class="fas fa-couch"></i></div>-->
            <!--                <div class="seat available" title="A10"><i class="fas fa-couch"></i></div>-->
            <!--            </div>-->
        </div>
        <div class="seating-legend">
            <div class="legend-item">
                <div class="seat regular"><i class="fas fa-couch"></i></div>
                <span>Ghế thường</span>
            </div>
            <div class="legend-item">
                <div class="seat vip"><i class="fas fa-couch"></i></div>
                <span>Ghế VIP</span>
            </div>
            <div class="legend-item">
                <div class="seat unavailable"><i class="fas fa-couch"></i></div>
                <span>Ghế có người</span>
            </div>
            <div class="legend-item">
                <div class="seat bought"><i class="fas fa-couch"></i></div>
                <span>Ghế của bạn</span>
            </div>
            <div class="legend-item">
                <div class="seat selected"><i class="fas fa-couch"></i></div>
                <span>Ghế đang chọn</span>
            </div>
        </div>

        <div class="info-seats-bought">
            <div class="info-seats-selected">
                <p>Ghế đã chọn: <span class="list-seats"></span></p>
            </div>

            <div class="count-money">
                <span><span class="money">0</span> VNĐ</span>
            </div>

            <div class="btn-submit">
                <button id="confirm">Xác nhận</button>
            </div>

        </div>
    </div>
    <div class="confirm-seat-bgr">
        <div class="confirm-seat">
            <div class="confirm-title">Trước đó bạn đã chọn ghế <span class="selected-seat">D5, D6</span> bạn có muốn
                tiếp tục?</div>
            <div class="btn-seat">
                <button class="choose-again">Chọn lại</button>
                <button class="continue">Tiếp tục</button>
            </div>
        </div>
    </div>

</div>