<div class="info-food-shop">
    <div class="banner-shop">
        <section class="hero" style="width: 100%; height: 100%; margin-top: 0;">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2FMageINIC%2Fbannerslider%2Fbap-nuoc-onl.jpg&w=3840&q=75"
                             alt="slide1">
                    </div>
                    <div class="swiper-slide">
                        <img src="https://www.agscinemas.com/assets/images/banner-food.jpg" alt="slide2">
                    </div>
                    <div class="swiper-slide">
                        <img src="https://assets.voxcinemas.com/content/Landing_Page_Banner_880x440-01_1703153833.jpg"
                             alt="slide3">

                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </section>
    </div>
    <!-- <img src="https://cinestar.com.vn/_next/image/?url=https%3A%2F%2Fapi-website.cinestar.com.vn%2Fmedia%2FMageINIC%2Fbannerslider%2Fbap-nuoc-onl.jpg&w=3840&q=75"
        alt="banner food shop"> -->

    <div class="food-shop-title">
        <p class="p1">BẠN CẦN GÌ?</p>
        <p class="p2">CHÚNG TÔI CÓ ĐỒ ĂN</p>
        <p class="p3">Đặt đồ ăn ở đây và tiết kiệm lên đến 20% tại quầy!</p>
        <p class="p4">Hãy nhanh tay để có trải nghiệm xem phim tuyệt vời nhất!</p>
    </div>

    <div class="list-product">
        <!--        <div class="product">-->
        <!--            <div class="product-image">-->
        <!--                <img src="https://kenh14cdn.com/Images/Uploaded/Share/2011/03/17/110317MBTbongngo8.jpg" alt="">-->
        <!--                &lt;!&ndash; <div class="out-of-stock">-->
        <!--                    <span>HẾT HÀNG</span>-->
        <!--                </div> &ndash;&gt;-->
        <!--            </div>-->
        <!--            <div class="product-name">-->
        <!--                <p>Combo 1 bỏng, 1 Coca</p>-->
        <!--                <div class="number-buy">-->
        <!--                    <div class="choose-number">-->
        <!--                        <i class="fas fa-minus"></i>-->
        <!--                        <input type="text" value="0" class="number-product" id="number-product=2">-->
        <!--                        <i class="fas fa-plus"></i>-->
        <!--                    </div>-->
        <!--                    <div class="btn-buy">-->
        <!--                        <button>Mua</button>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="custom-shape">50.000</div>-->
        <!--            <div class="hot-label">HOT</div>-->

        <!--        </div>-->
        <!--        <div class="product">-->
        <!--            <div class="product-image">-->
        <!--                <img src="https://kenh14cdn.com/Images/Uploaded/Share/2011/03/17/110317MBTbongngo8.jpg" alt="">-->
        <!--                &lt;!&ndash; <div class="out-of-stock">-->
        <!--                    <span>HẾT HÀNG</span>-->
        <!--                </div> &ndash;&gt;-->
        <!--            </div>-->
        <!--            <div class="product-name">-->
        <!--                <p>Combo 1 bỏng, 1 Coca</p>-->
        <!--                <div class="number-buy">-->
        <!--                    <div class="choose-number">-->
        <!--                        <i class="fas fa-minus"></i>-->
        <!--                        <input type="text" value="0" class="number-product" id="number-product-3">-->
        <!--                        <i class="fas fa-plus"></i>-->
        <!--                    </div>-->
        <!--                    <div class="btn-buy">-->
        <!--                        <button>Mua</button>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="custom-shape">50.000</div>-->
        <!--            <div class="hot-label">HOT</div>-->

        <!--        </div>-->
        <!--        <div class="product">-->
        <!--            <div class="product-image">-->
        <!--                <img src="https://kenh14cdn.com/Images/Uploaded/Share/2011/03/17/110317MBTbongngo8.jpg" alt="">-->
        <!--                &lt;!&ndash; <div class="out-of-stock">-->
        <!--                    <span>HẾT HÀNG</span>-->
        <!--                </div> &ndash;&gt;-->
        <!--            </div>-->
        <!--            <div class="product-name">-->
        <!--                <p>Combo 1 bỏng, 1 Coca</p>-->
        <!--                <div class="number-buy">-->
        <!--                    <div class="choose-number">-->
        <!--                        <i class="fas fa-minus"></i>-->
        <!--                        <input type="text" value="0" class="number-product" id="number-product-4">-->
        <!--                        <i class="fas fa-plus"></i>-->
        <!--                    </div>-->
        <!--                    <div class="btn-buy">-->
        <!--                        <button>Mua</button>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="custom-shape">50.000</div>-->
        <!--            <div class="hot-label">HOT</div>-->

        <!--        </div>-->
        <!--        <div class="product">-->
        <!--            <div class="product-image">-->
        <!--                <img src="https://kenh14cdn.com/Images/Uploaded/Share/2011/03/17/110317MBTbongngo8.jpg" alt="">-->
        <!--                <div class="out-of-stock">-->
        <!--                    <span>HẾT HÀNG</span>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="product-name">-->
        <!--                <p>Combo 1 bỏng, 1 Coca</p>-->
        <!--                <div class="number-buy">-->
        <!--                    <div class="choose-number">-->
        <!--                        <i class="fas fa-minus"></i>-->
        <!--                        <input type="text" value="0" class="number-product" id="number-product-5">-->
        <!--                        <i class="fas fa-plus"></i>-->
        <!--                    </div>-->
        <!--                    <div class="btn-buy">-->
        <!--                        <button>Mua</button>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="custom-shape">50.000</div>-->
        <!--            &lt;!&ndash; <div class="hot-label">HOT</div> &ndash;&gt;-->

        <!--        </div>-->
        <!--        <div class="product">-->
        <!--            <div class="product-image">-->
        <!--                <img src="https://kenh14cdn.com/Images/Uploaded/Share/2011/03/17/110317MBTbongngo8.jpg" alt="">-->
        <!--                &lt;!&ndash; <div class="out-of-stock">-->
        <!--                    <span>HẾT HÀNG</span>-->
        <!--                </div> &ndash;&gt;-->
        <!--            </div>-->
        <!--            <div class="product-name">-->
        <!--                <p>Combo 1 bỏng, 1 Coca</p>-->
        <!--                <div class="number-buy">-->
        <!--                    <div class="choose-number">-->
        <!--                        <i class="fas fa-minus"></i>-->
        <!--                        <input type="text" class="number-product" value="0"-->
        <!--                            id="number-product-1">-->
        <!--                        <i class="fas fa-plus"></i>-->
        <!--                    </div>-->
        <!--                    <div class="btn-buy">-->
        <!--                        <button>Mua</button>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="custom-shape">50.000</div>-->
        <!--            &lt;!&ndash; <div class="hot-label">HOT</div> &ndash;&gt;-->

        <!--        </div>-->
        <!--        <div class="product">-->
        <!--            <div class="product-image">-->
        <!--                <img src="https://kenh14cdn.com/Images/Uploaded/Share/2011/03/17/110317MBTbongngo8.jpg" alt="">-->
        <!--                <div class="out-of-stock">-->
        <!--                    <span>HẾT HÀNG</span>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="product-name">-->
        <!--                <p>Combo 1 bỏng, 1 Coca</p>-->
        <!--                <div class="number-buy">-->
        <!--                    <div class="choose-number">-->
        <!--                        <i class="fas fa-minus"></i>-->
        <!--                        <input type="text" value="0" class="number-product" id="number-product-6">-->
        <!--                        <i class="fas fa-plus"></i>-->
        <!--                    </div>-->
        <!--                    <div class="btn-buy">-->
        <!--                        <button>Mua</button>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="custom-shape">50.000</div>-->
        <!--            &lt;!&ndash; <div class="hot-label">HOT</div> &ndash;&gt;-->

        <!--        </div>-->
    </div>
</div>