<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quên Mật Khẩu</title>
  <link rel="stylesheet" href="/css/forgot-password.css">
  <link rel="stylesheet" href="/css/loading.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
</head>

<body>
<div class="background">
  <div class="spinner">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
</div>
<div class="background">
  <div class="spinner">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
</div>
<div class="form-container">
  <h2>Quên Mật Khẩu</h2>
  <form id="reset-password-form">
    <div class="input-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="Nhập email của bạn" required>
    </div>
    <div class="input-group">
      <label for="code">Mã Xác Nhận</label>
      <div class="code-input-group">
        <input type="text" id="code" name="code" placeholder="Nhập mã xác nhận" required>
        <button type="button" id="send-code" class="send-code-button">Gửi Mã</button>
      </div>
    </div>
    <div class="input-group">
      <label for="new-password">Mật Khẩu Mới</label>
      <input type="password" id="new-password" name="new-password" placeholder="Nhập mật khẩu mới" required>
    </div>
    <div class="input-group">
      <label for="confirm-new-password">Xác Nhận Mật Khẩu Mới</label>
      <input type="password" id="confirm-new-password" name="confirm-new-password" placeholder="Nhập lại mật khẩu mới" required>
    </div>
    <div class="button-group">
      <button type="submit" id="reset-password">Lấy Lại Mật Khẩu</button>
    </div>
    <div class="return-to-login">
      <a href="/login">Quay lại trang đăng nhập</a>
    </div>
    <div id="error-message"></div>
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<script>
  $(document).ready(function (){

      $(document).on('click', "#send-code", function (e){
        e.preventDefault();
        var email = $('#email').val();
        if(email === ""){
          toastr.error("Vui lòng nhập email!");
          return;
        }
        callApiGetCode(email.trim());
      });

    $(document).on('click', "#reset-password", function (e){
      e.preventDefault();
      var email = $('#email').val().trim();
      var code = $('#code').val().trim();
      var password = $('#new-password').val();
      var rePassword = $('#confirm-new-password').val();

      callApiResetPassword(email, code, password, rePassword);
    });
  });

  function callApiGetCode(email){
    $('.background').show();
    var settings = {
        url : "http://localhost:8080/user/forgot-password?email="+email,
        method: "POST",
        contentType: "application/json",
        success: function (response){
          $('.background').hide();
          console.log(response);
          toastr.success("Gửi mã thành công! Vui lòng kiểm tra email!");
        },
        error: function (xhr){
          $('.background').hide();
          var response = JSON.parse(xhr.responseText);
          toastr.error(response.message);
        }

      }
      $.ajax(settings);
  }

  function callApiResetPassword(email,code,password,rePassword){
    $('.background').show();
    var settings = {
      url : "http://localhost:8080/user/reset-password?email="+email+"&code="+code+"&password="+password+"&rePassword="+rePassword,
      method: "PUT",
      contentType: "application/json",
      success: function (response){
        $('.background').hide();
        toastr.success(response);
        setTimeout(function (){
          window.location.href = "/login";
        }, 3000);
      },
      error: function (xhr){
        $('.background').hide();
        var response = JSON.parse(xhr.responseText);
        toastr.error(response.message);
      }
    }
    $.ajax(settings);
  }
</script>
</body>

</html>
